<div id="content">
  <h4>Mes disques -> {{user}}</h4>
  <button class="btn btn-primary"  type="button">
    <span class="glyphicon glyphicon-plus-sign"></span> Créer un disque
  </button>
  <ul class="list-group">
    {%for disque in disques%}
      <li class="list-group-item">
        <span class="glyphicon glyphicon-hdd"></span><strong>{{disque.getNom()}}</strong>
        <span class="label label-default">{{disque.occupation}} / {{disque.occupationTotal}}</span>

        <div class="progress" style="margin-top: 10px;">
          <div
              class="progress-bar progress-bar-striped progress-bar-{{disque.progressStyle}} active"
              role="progressbar"
              aria-valuenow="{{disque.getOccupation()}}"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: {{disque.getOccupation()}}%; min-width: 3em;">
            {{disque.getOccupation()}}%
          </div>
        </div>

        <a href="Scan/show/{{disque.id}}" type="button" class="btn btn-primary btn-block">
          <span class="glyphicon glyphicon-folder-open" style="margin-right: 5px;"></span>
          Ouvrir
        </a>
      </li>
    {%endfor%}
  </ul>
</div>