<div class="panel panel-primary">
  <div class="panel-heading">
    {{service.getNom()}}
  </div>
  <div class="panel-body">
    <div class="list-group-item">{{service.getDescription()}}</div>
    <div class="list-group-item">{{service.getPrix()}}</div>
  </div>
  <div class="panel-footer">
    {%if isNew %}
    <a href="Exemples/serviceAdd/{{service.getNom()}}/{{service.getPrix()}}" class="btn btn-success">Enregistrer</a>
    {%else%}
    <a href="Exemples/serviceDelete/{{service.getId()}}" class="btn btn-warning">Supprimer</a>
    {%endif%}
  </div>
</div>